@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Sora", sans-serif;
}

ul.menu > a:not(.actived):hover{
    background-color: #00000040;
}

.menuColor {
    color: #9538E2 !important;
}

.active{
    background-color: #000000c7;
    color: #FFFFFF;
}

.actived{
    color: #9538E2;
    background-color: #ffffff;
}
footer nav a{
    color: #09080F99;
    font-weight: 600;
}
.red{
    color:red;
}
